#app-grid {
    layout: grid;
    grid-size: 5 4;
    grid-columns: 1fr;
    grid-rows: 1fr;
    grid-gutter: 1;
}

Button {
    width: 20;
}

TitleBox{
    width: 30
}
Status{
    width: 30
}
#command {
    column-span: 4;
    row-span: 1
}
#log {
    column-span: 4;
    row-span: 3;
}
#tree {
    row-span: 3;
}

#verticallogs {
    height: 90%;
}
#verticaltree {
    height: 90%;
}

Status{
    layout: horizontal
}

.container{
    margin: 1;
    border: wide dodgerblue
}

.buttonscontainer{
    layout: horizontal;
    margin: 1;
    height: 18
}

